[submodule "libftsdl"]
	path = libftsdl
	url = git@github.com:Iipal/libftsdl.git
[submodule "libft"]
	path = libft
	url = git@github.com:Iipal/lft.git
[submodule "libvectors"]
	path = libvectors
	url = git@github.com:Iipal/libvectors
[submodule "parson"]
	path = parson
	url = git@github.com:kgabis/parson.git
