[submodule "libftsdl"]
	path = libftsdl
	url = git@github.com:Iipal/libftsdl.git
[submodule "libft"]
	path = libft
	url = git@github.com:Iipal/lft.git
[submodule "libvectors"]
	path = libvectors
	url = git@github.com:Iipal/libvectors
[submodule "libparson"]
	path = libparson
	url = git@github.com:Iipal/parson.git
[submodule "libwu"]
	path = libwu
	url = git@github.com:Iipal/libwu.git
